<article id="lead">
    <h1>
        {{model.fullName}}
    </h1>

    <p>
        Email: {{model.email}}
    </p>

    <p>
        Phone: {{model.phone}}
    </p>

    <p>
        <label for="status">Status:</label>
        {{view Ember.Select id="status" content=MyApp.Lead.STATUSES value=model.status}}
    </p>

    <p>
        <label for="notes">Notes:</label>
        {{view Ember.TextArea id="notes" value=model.notes}}
    </p>

    <p>
        <input type="submit" value="Save Changes" {{action "saveChanges"}}>
    </p>

</article>